<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [ngClass]="openpage.indexOf('batch') !== -1 ? 'active' : ''">
        	<a (click)="pagecall('batches')" >Batches</a>
       	</li>
        <li [ngClass]="openpage.indexOf('dashboard') !== -1 ? 'active' : ''">
        	<a (click)="pagecall('dashboard')" >Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li *ngIf="username" [ngClass]="openpage.indexOf('categor') !== -1 ? 'dropdown active' : 'dropdown'">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li [ngClass]="openpage.indexOf('categor') !== -1 ? 'active' : ''">
              <a (click)="pagecall('categories')">Categories</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="username">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="logOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>