<abe-header></abe-header>
<div class="container">
	<div class="raw">
		<div *ngIf="loader" class="loader-back">
            <div class="loader">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
		<div class="col-md-12 underline">
			<div class="col-md-12">
				<span class="page_headder">New Category</span>		
			</div>	
		</div>
		<div class="claer"></div>
		<div class="col-md-12">
			<form #form="ngForm" class="form-horizontal">
                <div class="form-row">
                	<div class="form-group col-md-6">
                		<label class="control-label">Name</label>
                		<input type="text" class="form-control" id="name" name="name" ngModel placeholder="Name">
                	</div>
                	<div class="clear"></div>
                	<div class="clear"></div>
                	<div class="form-group col-md-6 text-center" >
                        <input type="submit" class="btn btn-success" value="Save" id="submit" (click)="onSubmit(form.value)" />
                        &nbsp;&nbsp;
                        <input type="button" class="btn btn-danger" value="Cancel" id="cancel" (click)="back()" />
                        <!-- *ngIf="permissionObj.create" -->
                    </div>   
                </div>
            </form>
		</div>
		<!-- <ng-container > -->
			
		<!-- </ng-container> -->
	</div>
</div>
<div id="validation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Validation Message</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <ul *ngFor="let validatemassage of validatemassages">
                            <li>{{validatemassage}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalValidate class="btn btn-default btn-xs text-muted" data-toggle="modal"
                        data-target="#validation" type="button"></button>
                </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Success Message</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <ul *ngFor="let successmassage of successmassages">
                            <li>{{successmassage}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalSuccess class="btn btn-default btn-xs text-muted" data-toggle="modal"
                        data-target="#success" type="button"></button>
                </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>