 <nav class="navbar navbar-default navbar-fixed-top loginnav" *ngIf="!token">
    <div class="container-fluid">
        <div class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar mobile_logo">
                <a class="hidden-lg hidden-md hidden-sm hidden-xs side_bar_button">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <a class="navbar-brand navbar-home">
                    <span>Classes.</span>
                </a>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right mobile_menu">
                <li class="dropdown dropdown-navbar-user dropdown-mobile">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="return false;" aria-expanded="false">
                        <span class="ellipsis toolbar-user-fullname">Login</span>
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>
<div class="row">
	<div *ngIf="loader" class="loader-back">
            <div class="loader">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
<div class="content_block_half" *ngIf="!token">
    <div class="container-fluid">
        <div class="row">
            <div class="login_block">
                <div class="col-md-4 div_center col-sm-10 main_content mplr0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-circle login_dot_color" aria-hidden="true"></i> &nbsp;
                            <b>Sign In</b>
                        </div>
                        <div class="panel-body">
                            <form #form="ngForm">
                                <div class="form-group">
                                    <input #nameuser="ngModel" type="email" name="username" id="username"
                                        class="form-control login_form" placeholder="Email address" ngModel required>
                                </div>
                                <div class="form-group">
                                    <input #passworduser="ngModel" type="password" name="password" id="password"
                                        class="form-control login_form" placeholder="Password" ngModel required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="login_custom" id="login_custom" value="Sign In"
                                        class="btn color_menu_button form-control login_form login_form_btn"
                                        (click)="login({username:nameuser.value, password:passworduser.value})" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <p class="text-center extra_text">
                        <a class="login_a">Don't have an account? Sign Up</a>
                    </p>
                    <p class="text-center extra_text">
                        <a class="login_a">Forgot Password?</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="validation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Validation Message</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <ul *ngFor="let validatemassage of validatemassages">
                            <li>{{validatemassage}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalValidate class="btn btn-default btn-xs text-muted" data-toggle="modal"
                        data-target="#validation" type="button"></button>
                </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>