<abe-header></abe-header>
<div class="container">
	<div class="raw">
		<div *ngIf="loader" class="loader-back">
            <div class="loader">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
		<div class="col-md-12 underline">
			<div class="col-md-6">
				<span class="page_headder">Categories</span>		
			</div>	
		  	<div class="col-md-6">
		  		<button (click)="newbatch()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create Category</button>
		  		<div class="btn-group pull-right" style="margin-right: 10px;">
		  			<input type="text" id="searchinput" [(ngModel)]="serachtxt" name="serachtxt" class="form-control" placeholder="Search for Categories">
		  		  	<span id="searchclear" (click)="claerserach()" class="glyphicon glyphicon-remove-circle"></span>
		  		</div>
		  		<!-- <div class="dropdown">
				  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    <i class="glyphicon glyphicon-sort"></i>&nbsp;Sort&nbsp;&nbsp;
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li [ngClass]="sorting==1 ? 'active' : ''">
				    	<a (click)="batch_sort(1)">Batch Name(A to Z)</a>
				    </li>
				    <li [ngClass]="sorting==2 ? 'active' : ''">
				    	<a (click)="batch_sort(2)">Batch Name(Z to A)</a>
				    </li>
				    <li [ngClass]="sorting==3 ? 'active' : ''">
				    	<a (click)="batch_sort(3)">Recently Created(A to Z)</a>
				    </li>
				    <li [ngClass]="sorting==4 ? 'active' : ''">
				    	<a (click)="batch_sort(4)">Recently Created(Z to A)</a>
				    </li>
				  </ul>
				</div>
				&nbsp;&nbsp; -->
				
		  	</div>
		</div>
		<div class="claer"></div>
		<div class="col-md-12">
			<div class="table-responsive" *ngIf="datas.length !=0; else no_table">
                <table class="table table_font">
                    <thead class="thead_bg">
                        <tr>
                            <th>
                                <b>Id</b>
                            </th>
                            <th>
                                <b>Name</b>
                            </th>
                             <th>
                                <b>Code</b>
                            </th>
                            <th>
                                <b>Active</b>
                            </th>
                            <th>
                                <b>created_at</b>
                            </th>
                            <th>
                                <b>Action</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let files of datas| paginate: { itemsPerPage: maxSize, currentPage: currentPage, totalItems: totalItems } ; let i=index">
                            <tr>
                                <td>
                                    <b>
                                        {{files?.id}}
                                    </b>
                                </td>
                                <td> {{files?.name}}</td>
                                <td> {{files?.code}}</td>
                                <td> 
                                	<span *ngIf="files.is_active">Yes</span>
                                	<span *ngIf="!files.is_active">No</span>
                                </td>
                                <td> {{files?.created_at}}</td>
                                <td>
                                    <a class="btn btn-success" (click)="editcategory(files.id)">Edit</a> &nbsp;
                                    <a class="btn btn-danger" (click)="deletecategory(files.id)">Delete</a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="pagination" *ngIf="datas.length !=0">
                    <pagination-controls (pageChange)="pageChanged($event, default)"></pagination-controls>
                </div>
            </div>
        </div>
	</div>
</div>
<ng-template #no_table>
    <div class="record_not_found text-center mobile_padding0" *ngIf="!loader">
        <p>No Data Found</p>
    </div>
</ng-template>
<div id="validation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Validation Message</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <ul *ngFor="let validatemassage of validatemassages">
                            <li>{{validatemassage}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalValidate class="btn btn-default btn-xs text-muted" data-toggle="modal"
                        data-target="#validation" type="button"></button>
                </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Success Message</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <ul *ngFor="let successmassage of successmassages">
                            <li>{{successmassage}}</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalSuccess class="btn btn-default btn-xs text-muted" data-toggle="modal"
                        data-target="#success" type="button"></button>
                </span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-body" >
                    <div class="form-group col-md-12 col-sm-12">
                        Are you sure you want to delete this record?
                    </div>
                    <div class="clear"></div> 
                </div>
            </form>
            <div class="modal-footer">
                <span [hidden]="true">
                    <button #modalOn data-toggle="modal" data-target="#confirm" type="button"></button>
                    <button #modalOff data-dismiss="modal" type="button"></button>
                </span>
                <button class="btn btn-default" data-dismiss="modal" type="button" (click)="Yes()">Yes</button>
                <button class="btn color_menu_button" data-dismiss="modal" type="button" (click)="No()">No</button>
            </div>
        </div>
    </div>
</div>